<header>
  <h3>Hello World</h3>
  <p>This is a Navi. Tab prototype project.</p>
</header>

<!-- html that is universal for every route -->
<nav mat-tab-nav-bar [backgroundColor]="'primary'" [tabPanel]="tabPanel">
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

<button mat-raised-button color="primary" class="example-action-button" (click)="addLink()">
  Add link
</button>